body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: grey;
}
h2 {
    color: grey;
}
.about {
    text-align: center;
    color: grey;
}
.skills {
    text-align: center;
    color: grey;
}
.projects {
    text-align: center;
    color: grey;
}
.contact {
    text-align: center;
    color: grey;
}

.projects { 
    display:flex;
    flex-wrap:wrap;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(114, 2, 2); /* pick a color */
    border-radius: 25%;
}
.project img{
    width: 300px;
    /*height: 300px; */
    margin: 10px;
    border: 2px solid rgb(0, 0, 0); /* choose a color */
    display: block;
    margin: auto;
}
a { /* change the appearance of ALL links */
    text-decoration: none;
    text-align: center;
    color: rgb(197, 197, 197);
}
    .project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
}
.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
    .about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(2, 2, 2);
}